<div class="container">
  <section class="hero">
    <div class="hero-info">
      <span class="hero-subtitle">
     WELCOME TO ECARTT
      </span>
      <h1 class="hero-title">
       Feel your own brands..! 
      </h1>
      <small class="hero-description">
        
      </small>
      <div class="hero-social">
        <a href="#" class="social vk-bg">
          <i class="fab fa-vk"></i>
        </a>
        <a href="#" class="social facebook-bg">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social instagram-bg">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social behance-bg">
          <i class="fab fa-behance"></i>
        </a>
      </div>
      <div class="hero-buttons">
        <a href="#" class="button button-primery">
          Add to cart
        </a>
        <a href="#" class="button button-o">
          Buy now
        </a>
      </div>
    </div>
  </section>
</div>

<!-- Проекты   -->
<div class="container">
  <section class="projects">
    <div class="project-cards">
<!-- Карточка 1 -->
      <div class="p-card">
        <div class="card_img landing_img"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый синий
          </span>
          <strong class="card-title">
            <span class="project-name">
              Advanced Reader
            </span>
            <span class="project-date">2019</span>
          </strong>
        </div>
      </div>
<!--  Карточка 2        -->
      <div class="p-card">
        <div class="card_img landing_img2"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый красный
          </span>
          <strong class="card-title">
            <span class="project-name">
              Appton
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!--  Карточка 3        -->
      <div class="p-card">
        <div class="card_img landing_img3"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый красный
          </span>
          <strong class="card-title">
            <span class="project-name">
              The Less
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!-- Карточка 4 -->
      <div class="p-card">
        <div class="card_img landing_img4"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый синий
          </span>
          <strong class="card-title">
            <span class="project-name">
              Services
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!--  Карточка 5        -->
      <div class="p-card">
        <div class="card_img landing_img5"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый зеленый
          </span>
          <strong class="card-title">
            <span class="project-name">
              Vertical Response
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!--  Карточка 6        -->
      <div class="p-card">
        <div class="card_img landing_img6"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый зеленый
          </span>
          <strong class="card-title">
            <span class="project-name">
              Ascendant
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!-- Карточка 7 -->
      <div class="p-card">
        <div class="card_img landing_img7"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый фиолетовый
          </span>
          <strong class="card-title">
            <span class="project-name">
              ShoGun
            </span>
            <span class="project-date">2018</span>
          </strong>
        </div>
      </div>
<!--  Карточка 8        -->
      <div class="p-card">
        <div class="card_img landing_img8"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый фиолетовый
          </span>
          <strong class="card-title">
            <span class="project-name">
              Sitica
            </span>
            <span class="project-date">2017</span>
          </strong>
        </div>
      </div>
<!--  Карточка 9        -->
      <div class="p-card">
        <div class="card_img landing_img9"></div>
        <div class="pcard_info">
          <span class="category">
            Базовый синий
          </span>
          <strong class="card-title">
            <span class="project-name">
              Analytica
            </span>
            <span class="project-date">2017</span>
          </strong>
        </div>
      </div>

      
    </div>
  </section>
</div>
<app-carousel></app-carousel>
<!-- Футер   -->
<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="footer-text">
        <span class="copyright">
          © 2018 Все права защищены.
        </span>
        <div class="footer-social">
          <a href="#" class="footer-social-link vk-f-bg">
          <i class="fab fa-vk"></i>
        </a>
        <a href="#" class="footer-social-link facebook-f-bg">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="footer-social-link instagram-f-bg">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="footer-social-link behance-f-bg">
          <i class="fab fa-behance"></i>
        </a>
        </div>
      </div>
      <div class="footer-menu">
        <nav>
          <a href="#">Мои работы</a>
          <a href="#">Обо мне</a>
          <a href="#">Контакты</a>
        </nav>
        <div class="f-write">
          <a href="#" class="footer-button">Написать</a>
        </div>
      </div>
    </div>
  </div>
</footer>